/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Estilos para la Página de Error */
.error-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Media Queries para Dispositivos Móviles */
@media only screen and (max-width: 768px) {
    .error-container {
        margin: 50px auto;
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}

/* Media Queries para Dispositivos Muy Pequeños */
@media only screen and (max-width: 480px) {
    .error-container {
        margin: 20px auto;
        padding: 5px;
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
