<nav>
    <div class="nav">
        <a href="/api">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/api">
                    <img src="/icons/house.png" alt="Inicio Icon" class="home">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    <img src="/icons/dashboard.png" alt="Dashboard Icon" class="dashboard">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/api/agregar">
                    <img src="/icons/addSuper.png" alt="Agregar Super Icon" class="addSuper">
                    Agregar
                </a>
            </li>
        </ul>
    </div>
</nav>